# segredos
**/.env
*.pem
*.key

# .NET
**/bin/
**/obj/

# Unity (o client/.gitignore cobre o resto)
client/Library/
client/Temp/
client/Logs/
client/UserSettings/
client/Assets/StreamingAssets/content/

# Python
__pycache__/

# SO / editores
.DS_Store
Thumbs.db
.vs/
.idea/
